*
{
	box-sizing: border-box;
}


.p1, .p2, .p3
{
	background-color: grey;
	border: 1px solid black;
	color: black;
	float: left;
    width: 31%;
    margin: 10px;

}

p
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	float: left;
	padding: 10px;
	margin: auto;
}

.p1  h1
{
	border: 1px solid black;
	text-align: right;
    float: right;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: pink;
    margin-bottom: 0px; 
    font-size: 1.25em;
}

.p2  h1
{
	border: 1px solid black;
	text-align: right;
    float: right;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: red;
    margin-bottom: 0px; 
    color: white;
        font-size: 1.25em;


}

.p3  h1
{
	border: 1px solid black;
	text-align: right;
    float: right;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: yellow;
    margin-bottom: 0px; 
    font-size: 1.25em;

}

h1
{	text-align: center;
	color: black;
	margin-top: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	float: none;
	font-size: 1.75em;
}



@media (min-width: 768px) and (max-width: 991px) 
{
	.p1
	{
		width: 47%
	}
	.p2
	{
		width: 47%
	}
	.p3
	{
		width: 97%;
	}
}

@media (max-width: 767px) 
{
	.p1
	{
		width: 97%
	}
	.p2
	{
		width: 97%
	}
	.p3
	{
		width: 97%;
	}
}
